<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankitrajput.letsmove">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserSignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TransporterSignup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListOfPost"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".AddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewUserDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewTransporterDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".edit_user_details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyPostsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewBids"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBids"
            android:screenOrientation="portrait" />

        <service android:name=".NotificationService" />
        <service android:name=".AcceptedService" />
        <service android:name=".GetMessageService" />

        <activity android:name=".add_ratings" />
        <activity android:name=".final_transporter" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ChatList" />
        <activity android:name=".View_my_ratings"></activity>
    </application>

</manifest>